# Entorno virtual
venv/
.venv/
env/
pyenv/
vivebien/

# Python cache
__pycache__/
*.pyc

# Data local o bases de datos
*.db

# Models (pesan mucho, no se suben)
models/
*.gguf


# Archivos de audio temporales
*.wav
*.mp3
*.m4a
*.aiff

# Archivos de VSCode
.vscode/

# Archivos del sistema
.DS_Store

vivebien_clean/

.env
